html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --bg-hero: #129799;
    --bg-body: #FFA185;
    --white: whitesmoke;
}

body {
    background-color: var(--bg-body);
}

/* UTILITY CLASSES */
.list {
    margin: 0 auto;
    padding: 1.5em;
    font-size: clamp(14px, 3vw, 20px);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
}

/* HEADER */
header {
    padding-inline: 8px;
    background-color: var(--bg-hero);
}

ul {
    list-style-type: none;
}

nav > ul > li:first-child {
    font-weight: 700;
}

.separador {
    color: var(--bg-body);
    margin-inline: 8px;
}

/* HERO */
.hero {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
    text-align: center;
}

.hero-img {
    width: clamp(250px, 50vw, 560px);
}

.batida {
    animation: heartBeat 500ms ease-in-out;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

/* MAIN  */
main {
    width: 80vw;
    max-width: 1200px;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

h2 {
    color: var(--white);
}

.galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.img-galeria {
    width: clamp(100px, 80vw, 500px);
    aspect-ratio: 2 / 1;
    object-fit: cover;
    box-shadow: 0 0 10px 0px hsla(0, 0%, 0%, 0.2);
}

main > :first-child, main > :nth-child(2) {
    align-self: flex-start;
}

main > :nth-last-child(2) { /* Seleciona o último p da main */
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-top: 24px;
}

#vejaMais-btn {
    width: fit-content;
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-top: -20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-hero);
}


.container-footer {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
}

.img-footer {
    width: clamp(1.3rem, 5vw, 3rem);
}

.footer-list {
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: white;
    padding: 16px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8px;
    list-style-type: none;
}

/* RESPONSIVO */
@media only screen and (min-width:750px) {
    .img-galeria {
        width: clamp(100px, 35vw, 560px);
    }
}